@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: OpenSans, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1175px;
  margin: 0 auto;
  width: auto;
  position: relative;
  z-index: 2;
}

@media (max-width: 1187px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.header-menu__icon {
  display: block;
  position: absolute;
  top: 38px;
  right: 10px;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 5;
}

.header-menu__icon span,
.header-menu__icon::before,
.header-menu__icon::after {
  right: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #3949ab;
}

.header-menu__icon::before,
.header-menu__icon::after {
  content: "";
}

.header-menu__icon::before {
  top: 0;
}

.header-menu__icon::after {
  bottom: 0;
}

.header-menu__icon span {
  top: 50%;
  -webkit-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%);
}

.header-menu__icon._active span {
  -webkit-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}

.header-menu__icon._active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%);
}

.header-menu__icon._active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
          transform: rotate(45deg) translate(0px, 50%);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.header-menu {
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100%;
  overflow: auto;
  left: -120%;
  top: 0;
  background-color: #fff;
  padding: 80px 10px 20px 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-menu._active {
  left: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  display: none;
}

.titlepeage {
  height: 100vh;
  margin: 0 0 125px 0;
}

.header {
  position: relative;
  z-index: 20;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

@media (max-width: 1125px) {
  .header {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media (max-width: 767.98px) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__logo {
  font-size: 25px;
  color: #212121;
  font-weight: bold;
  line-height: 0.88;
}

@media (max-width: 1125px) {
  .header__logo {
    margin: 0 50px 0 0;
  }
}

@media (max-width: 767.98px) {
  .header__logo {
    position: relative;
    z-index: 3;
  }
}

.header__search {
  width: 18px;
  height: 16px;
}

@media (max-width: 1125px) {
  .header__search {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  padding: 0 7% 0 0;
  white-space: nowrap;
  font-size: 20px;
  line-height: 1.1;
}

.menu__list li a {
  color: #000;
}

.menu__list li a:hover {
  color: #00897b;
}

@media (max-width: 767.98px) {
  .menu__list li {
    margin: 0 0 20px 0;
  }
}

.header-menu__icon {
  display: none;
}

@media (max-width: 767.98px) {
  .header-menu__icon {
    display: block;
    position: fixed;
  }
}

.done {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.web_project {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.web_project__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.web_project__content {
  text-align: center;
}

@media (max-width: 767.98px) {
  .web_project__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.web_project__title {
  margin: 10% 0 3% 0;
  font-size: 60px;
  color: white;
  line-height: 1;
}

@media (max-width: 992.98px) {
  .web_project__title {
    margin: 5% 0 3% 0;
  }
}

@media (max-width: 767.98px) {
  .web_project__title {
    margin: 2% 0 3% 0;
    font-size: 30px;
  }
}

@media (max-width: 479.98px) {
  .web_project__title {
    margin: 20px 0 30px 0;
  }
}

.web_project__subtitle {
  font-size: 22px;
  color: white;
  line-height: 1;
}

@media (max-width: 767.98px) {
  .web_project__subtitle {
    font-size: 14px;
  }
}

.web_project__footer {
  margin: 10% 0 25px 0;
}

@media (max-width: 767.98px) {
  .web_project__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
    margin: 5% 0 10px 0;
  }
}

.web_project__btm-1 {
  color: white;
  margin: 0 12.5px 0 0;
}

.web_project__btm-1:hover {
  -webkit-box-shadow: 0 0 30px #fff;
          box-shadow: 0 0 30px #fff;
}

@media (max-width: 767.98px) {
  .web_project__btm-1 {
    margin: 0 0 10vh 0;
  }
}

.web_project__btm-2 {
  color: white;
  margin: 0 12.5px 0 0;
}

.web_project__btm-2:hover {
  -webkit-box-shadow: 0 0 30px #fff;
          box-shadow: 0 0 30px #fff;
}

@media (max-width: 767.98px) {
  .web_project__btm-2 {
    margin: 0;
  }
}

.web_project__arrow {
  position: relative;
  -webkit-animation: arrow 1.5s infinite linear;
          animation: arrow 1.5s infinite linear;
}

@-webkit-keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 0;
  }
}

@keyframes arrow {
  0% {
    top: 0;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 0;
  }
}

.btm {
  display: inline-block;
  padding-top: 18px;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
  border: 3px solid #f8f8f8;
  width: 215px;
  height: 64px;
}

.btm:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #00897b;
  border: 3px solid #00897b;
}

.btm:active {
  background-color: #d6b3b3;
  -webkit-transition: all;
  transition: all;
}

.about__text {
  text-align: center;
  margin: 0 0 9% 0;
}

.about__title {
  margin: 0 0 3% 0;
  font-size: 30px;
  color: #212121;
  font-weight: bold;
  line-height: 1;
}

.about__subtitle {
  font-size: 15px;
  color: #212121;
  line-height: 1.5;
}

.about__columns {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 479.98px) {
  .about__columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.about__column {
  padding: 0 15px;
}

.about__column:hover {
  background-color: #d6b3b3;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__logo {
  margin: 40px;
  width: 60px;
  height: 60px;
}

.item__title {
  font-weight: 700;
  font-size: 20px;
  color: #212121;
  line-height: 1.1;
  text-align: center;
}

.item__subtitle {
  padding: 25px 20px 130px 20px;
  color: #212121;
  line-height: 1.5;
  text-align: center;
}

@media (max-width: 479.98px) {
  .item__subtitle {
    padding: 10px 20px;
  }
}

.home {
  display: none;
}

.home span {
  margin: 0 0 0 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-top: 2px solid #00e0d0;
  border-right: 2px solid #00e0d0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.home div {
  width: 40px;
  text-align: center;
}

.fixed {
  position: fixed;
  color: #00e0d0;
  width: 100%;
  top: 10%;
  left: 95%;
  z-index: 25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-animation: up 1s linear infinite;
          animation: up 1s linear infinite;
}

@media (max-width: 767.98px) {
  .fixed {
    display: none;
  }
}

@-webkit-keyframes up {
  0% {
    top: 10%;
  }
  50% {
    top: 15%;
  }
  100% {
    top: 10%;
  }
}

@keyframes up {
  0% {
    top: 10%;
  }
  50% {
    top: 15%;
  }
  100% {
    top: 10%;
  }
}

.servic {
  background-color: #e4fdf9;
}

.servic__text {
  text-align: center;
}

.servic__title {
  margin: 170px 0 40px 0;
  font-size: 30px;
  color: #212121;
  font-weight: bold;
  line-height: 0.733;
}

.servic__subtitle {
  font-size: 15px;
  color: #212121;
  line-height: 1.5;
}

.servic__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 126px -16px;
}

@media (max-width: 600px) {
  .servic__columns {
    display: block;
  }
}

.servic__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 0 0 32px 0;
  padding: 0 16px;
}

.servic__item {
  background-color: #ffffff;
  padding: 0 0 52px 0;
}

.servic__item:hover {
  position: relative;
  background-color: #00897b;
}

.servic__item:hover .item__title {
  color: #ffffff;
}

.servic__item:hover .item__subtitle {
  color: #ffffff;
}

.servic__item:hover .item__btm {
  color: #ffffff;
  border: 3px solid #ffffff;
}

.servic__item:hover .item__btm:hover {
  color: #00897b;
  border: 3px solid #00897b;
  background-color: #fff;
  -webkit-box-shadow: 0 0 30px #fff;
          box-shadow: 0 0 30px #fff;
}

.servic__item:hover .item__img_b {
  display: none;
}

.servic__item:hover .item__img_w {
  padding: 60px 0 40px 0;
  display: block;
  text-align: center;
}

.servic__item:hover .item__img {
  display: inline-block;
  position: absolute;
  top: 86%;
  left: 45%;
  -webkit-animation: finger 1.5s infinite linear;
          animation: finger 1.5s infinite linear;
}

@-webkit-keyframes finger {
  0% {
    top: 86%;
  }
  50% {
    top: 90%;
  }
  100% {
    top: 86%;
  }
}

@keyframes finger {
  0% {
    top: 86%;
  }
  50% {
    top: 90%;
  }
  100% {
    top: 86%;
  }
}

.item__img_b {
  padding: 60px 0 40px 0;
  display: block;
  text-align: center;
}

.item__img_w {
  display: none;
}

.item__title {
  font-size: 20px;
  color: #212121;
  line-height: 1.1;
}

.item__subtitle {
  font-size: 15px;
  color: #212121;
  line-height: 1.667;
}

.item__btm {
  margin: 0 auto;
  display: block;
  padding: 13px 0 0;
  border: 3px solid #212121;
  width: 146px;
  height: 52px;
  font-size: 20px;
  color: #212121;
  line-height: 1.1;
  text-align: center;
}

.item__btm:active {
  background-color: #d6b3b3;
  -webkit-transition: all;
  transition: all;
}

.item__img {
  display: none;
}

.latest {
  text-align: center;
}

.latest__title {
  margin: 125px 0 45px 0;
  font-size: 30px;
  color: #212121;
  font-weight: bold;
  line-height: 0.733;
}

.latest__subtitle {
  margin: 0 0 110px 0;
  font-size: 15px;
  color: #212121;
  line-height: 1.5;
}

.latest__navi {
  margin: 0 0 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  line-height: 1.1;
}

.latest__navi li {
  position: relative;
  padding: 1.5% 3%;
  margin: 0 1%;
  border: 3px solid #00897b;
}

.latest__navi li:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: #00897b;
  -webkit-box-shadow: 0 0 30px #00897b;
          box-shadow: 0 0 30px #00897b;
}

.latest__navi li:hover a {
  color: #ffffff;
}

.latest__navi li a {
  color: #212121;
}

.latest__navi li a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.latest__photes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px -15px;
}

.latest__phote {
  padding: 15px 15px;
}

.latest__phote:last-child {
  margin: 0 0 130px 0;
}

.latest__btm {
  border: 3px solid #00897b;
  color: #00897b;
}

.latest__btm:hover {
  color: #fff;
  -webkit-box-shadow: 0 0 30px #00897b;
          box-shadow: 0 0 30px #00897b;
}

.plan {
  margin: 145px 0 0 0;
  background-color: #f0f1f1;
}

.plan__text {
  margin: 130px auto;
  text-align: center;
}

.plan__title {
  margin: 0 0 40px 0;
  font-size: 30px;
  color: #212121;
  font-weight: bold;
  line-height: 0.733;
}

.plan__subtitle {
  font-size: 15px;
  color: #212121;
  line-height: 1.5;
}

.plan__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px 125px -15px;
}

@media (max-width: 767.98px) {
  .plan__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.plan__card {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 15px 15px;
}

@media (max-width: 767.98px) {
  .plan__card {
    min-width: 370px;
  }
}

.plan__lable {
  background-color: #ffffff;
}

.plan__lable:hover {
  -webkit-box-shadow: 0px 15px 65px 0 rgba(15, 16, 16, 0.15);
          box-shadow: 0px 15px 65px 0 rgba(15, 16, 16, 0.15);
}

.lable__footer {
  background: url("../img/Pricing_Plan/Rectangle14.png") no-repeat;
}

.lable__title {
  padding: 50px 0 60px 0;
  font-size: 25px;
  color: white;
  line-height: 0.88;
}

.lable__subtitle {
  padding: 0 0 98px 0;
  font-size: 17px;
  color: white;
  line-height: 1.294;
}

.lable__subtitle span {
  background: url("../img/Pricing_Plan/$.png") no-repeat 0 10px;
  padding: 0 0 0 18px;
  font-size: 50px;
  color: white;
  line-height: 0.44;
}

.lable__lists {
  margin: 0 0 65px 0;
  font-size: 17px;
  color: #212121;
  line-height: 1.3;
}

.lable__btm {
  text-transform: uppercase;
  height: 60px;
  width: 180px;
  padding: 20px 0;
  font-size: 20px;
  color: #212121;
  border: 2px solid #000;
  margin: 0 0 65px 0;
}

.lable__btm:hover {
  -webkit-box-shadow: 0 0 30px #00897b;
          box-shadow: 0 0 30px #00897b;
}

.list li {
  margin: 0 auto;
  width: 175px;
  padding: 35px 0 15px 0;
  border-bottom: 1px solid #bfbfbf;
}

.team__text {
  margin: 126px 0 80px 0;
  text-align: center;
}

.team__title {
  margin: 0 0 35px 0;
  font-size: 30px;
  color: #212121;
  font-weight: bold;
  line-height: 0.733;
}

.team__subtitle {
  font-size: 15px;
  color: #212121;
  line-height: 1.5;
}

.team__members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px 125px -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__member {
  padding: 15px 15px;
  text-align: center;
}

.team__dot {
  text-align: center;
  margin: 0 0 125px 0;
}

.member__img {
  margin: 0 0 40px 0;
}

@media (max-width: 479.98px) {
  .member__img {
    margin: 0 0 20px 0;
  }
}

.member__name {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: 600;
  color: #212121;
  line-height: 1.1;
}

.member__job {
  margin: 0 0 34px 0;
  font-size: 15px;
  color: #212121;
  line-height: 1.5;
}

@media (max-width: 479.98px) {
  .member__job {
    margin: 0 0 15px 0;
  }
}

.member__msg a {
  margin: 0 13px;
  padding: 11px 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #f0f1f1;
  border-radius: 15px;
}

@media (max-width: 479.98px) {
  .member__msg a {
    margin: 0 6px;
    padding: 6px 0;
  }
}

.swiper {
  max-width: 1175px;
}

.swiper-slide {
  margin: 0 0 50px 0;
}

@media (max-width: 479.98px) {
  .swiper-slide {
    margin: 0 0 20px 0;
  }
}

.blog {
  background: #e4fdf9;
  text-align: center;
}

.blog__text {
  margin: 130px 0;
}

.blog__title {
  margin: 0 0 40px 0;
  font-size: 30px;
  color: #212121;
  font-weight: bold;
  line-height: 0.733;
}

.blog__subtitle {
  font-size: 15px;
  color: #212121;
  line-height: 1.5;
}

.blog__raw {
  margin: 0 0 125px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog__soe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

@media (max-width: 992.98px) {
  .blog__soe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 0;
  }
}

@media (max-width: 767.98px) {
  .blog__soe img {
    width: 100%;
    height: 100%;
  }
}

.blog__btm {
  color: #000;
  border: 3px solid #000;
  margin: 0 0 125px 0;
}

.blog__btm:hover {
  color: #fff;
  -webkit-box-shadow: 0 0 30px #00897b;
          box-shadow: 0 0 30px #00897b;
}

.seo-1__title {
  text-align: left;
  margin: 65px 0 32px 0;
}

.seo-1__title a {
  font-size: 25px;
  color: #212121;
  line-height: 0.88;
}

.seo-1__title a:hover {
  color: #00897b;
}

.seo-1__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 35px 0;
  font-weight: 600;
  font-size: 17px;
  color: #212121;
  line-height: 1.3;
}

.seo-1__data {
  margin: 0 40px 0 0;
  background: url("../img/Blog/icons_calendar.png") no-repeat;
  padding: 0 0 0 35px;
}

@media (max-width: 479.98px) {
  .seo-1__data {
    margin: 0 20px 0 0;
    padding: 0 0 0 15px;
  }
}

.seo-1__doc {
  background: url("../img/Blog/icons_page.png") no-repeat;
  padding: 0 0 0 35px;
}

@media (max-width: 479.98px) {
  .seo-1__doc {
    padding: 0 0 0 15px;
  }
}

.seo-1__subtitle {
  text-align: left;
  font-size: 15px;
  color: #212121;
  line-height: 1.5;
}

.contact {
  min-height: 100vh;
  background: url("../img/Contact_Us/rawpixel-com-252127.jpg");
  background-size: 100% 100%;
  position: relative;
  top: 0;
  left: 0;
}

.contact__text {
  margin: 130px 0 110px 0;
  text-align: center;
}

.contact__title {
  margin: 0 0 38px 0;
  font-size: 30px;
  color: white;
  font-weight: bold;
  line-height: 0.733;
}

.contact__subtitle {
  font-size: 15px;
  color: white;
  line-height: 1.5;
}

.contact__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -70px 88px -70px;
}

.contact__card {
  padding: 0 70px;
}

.contact__itm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__form {
  text-align: center;
}

.itm__img {
  text-align: center;
  background: #3949ab;
  height: 105px;
  width: 105px;
  border-radius: 50%;
}

.itm__img img {
  position: relative;
  top: 21%;
}

.itm__text {
  text-align: center;
  font-size: 20px;
  color: white;
  line-height: 1.4;
}

.form__name {
  padding: 0 10px;
  font-size: 20px;
  color: rgba(33, 33, 33, 0.8);
  line-height: 1.4;
  border-radius: 12px;
  margin: 0 15px;
  height: 85px;
  width: 500px;
}

@media (max-width: 530px) {
  .form__name {
    width: 300px;
  }
}

@media (max-width: 479.98px) {
  .form__name {
    margin: 0 0;
  }
}

.form__email {
  padding: 0 10px;
  font-size: 20px;
  color: rgba(33, 33, 33, 0.8);
  line-height: 1.4;
  margin: 32px 15px;
  border-radius: 12px;
  height: 85px;
  width: 500px;
}

@media (max-width: 530px) {
  .form__email {
    width: 300px;
  }
}

@media (max-width: 479.98px) {
  .form__email {
    margin: 32px 0;
  }
}

.form__message {
  margin: 0 auto 32px auto;
  padding: 20px;
  display: block;
  width: 1035px;
  height: 325px;
  font-size: 20px;
  color: rgba(33, 33, 33, 0.8);
  line-height: 1.4;
  border-radius: 12px;
}

@media (max-width: 1187px) {
  .form__message {
    width: 500px;
  }
}

@media (max-width: 530px) {
  .form__message {
    width: 300px;
  }
}

.form__btm {
  margin: 0 0 110px 75%;
  display: block;
  border-radius: 12px;
  height: 70px;
  width: 220px;
  font-size: 20px;
  font-family: "Roboto";
  color: #212121;
  font-weight: bold;
  line-height: 1.1;
}

@media (max-width: 1187px) {
  .form__btm {
    margin: 0 0 110px 53%;
  }
}

@media (max-width: 530px) {
  .form__btm {
    display: inline;
    margin: 0 0 110px 0;
  }
}

.footer {
  padding: 22px 0 0 0;
  height: 65px;
  font-size: 20px;
  font-family: "Roboto";
  color: #212121;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
}
